body{
    background-image: url(fundo\ preto.jpg);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 81px;
}
#title{
    flex-direction: column;
    line-height: 10px;
    font-size: 40px;
}
img{
    width: 500px;
    padding: 20px;
    position: absolute; 
	left: 90px; 
	top: 70px; 
    top: 50px;
    width: 350px;
    z-index: 100;  
}
h1{
    font-weight: 100;
        color:#8757d4 ;
        font-family:'Courier New', Courier, monospace;
        text-align: center; 
}

h2{
    margin-bottom: 5%;
    font-weight: 100;
    color: #FAFAFA;
    font-family: poppinsregular;

}
h3{
    font-weight: 100;
        color:#FAFAFA ;
        font-family:'Courier New', Courier, monospace;
        text-align: center; 
        font-size: 300%;
}
p{
    margin-top: 8%;
    text-align: center;
    font-size: 30px;
    
}
